<%- include('../system/header') %>

<div class="container">
    <h3 class="my-3">Regisztráció</h3>

    <%- include('../system/message') %>

    <form action="/users/registration" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= session.body ? session.body.name : '' %>">
            <label for="name">Felhasználónév</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="<%= session.body ? session.body.email : '' %>">
            <label for="email">E-mail</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="" value="<%= session.body ? session.body.password : '' %>">
            <label for="password">Jelszó</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm" name="confirm" placeholder="" value="<%= session.body ? session.body.confirm : '' %>">
            <label for="confirm">Jelszó megerősítés</label>
        </div>

        <input type="submit" value="Regisztráció" name="reg" class="btn btn-dark mb-3">
    </form>
</div>

<%- include('../system/footer') %>