<%- include('../system/header') %>

<div class="container mb-3">
    <h3>Stepcounter</h3>
    <h5>Lépés törlése</h5>

    <p>Biztosan törlöd az alábbi lépést?</p>

    <%- include('../system/message') %>

    <form action="/steps/delete/<%= step.id %>" method="POST">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" value="<%= step.steps %>" disabled>
            <label>Lépések száma</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" value="<%= step.date %>" disabled>
            <label>Dátum</label>
        </div>

        <input type="submit" value="Törlés" class="btn btn-danger mb-3">
    </form>

    <a href="/steps" class="btn btn-dark me-1">Vissza</a>
</div>

<%- include('../system/footer') %>