<%- include('../system/header') %>

<div class="container mb-3 mt-3">
    <h3>Stepcounter</h3>
    <h5>Lépés módosítása</h5>

    <%- include('../system/message') %>

    <form action="/steps/edit/<%= step.id %>" method="POST">
        <div class="form-floating mb-3">
            <input type="number" name="steps" id="steps" class="form-control" min="1" value="<%= step.steps %>" required>
            <label for="steps">Lépések száma</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" name="date" id="date" class="form-control" value="<%= step.date %>" required>
            <label for="date">Dátum</label>
        </div>

        <input type="submit" value="Módosít" class="btn btn-dark mb-3">
    </form>

    <a href="/steps" class="btn btn-dark me-1">Vissza</a>
</div>

<%- include('../system/footer') %>
